<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin_ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/avatar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin_Ecommerce">
        <activity
            android:name=".View.OrderDetails_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Delivery_Activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".View.Edite_Product_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SalledProducts_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.About_customer_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ViewAllItemsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Welcom_Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Costumer_Orders_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/avatar" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorlast" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>